emacs/.emacs.d/*/
emacs/.emacs.d/recentf
emacs/.emacs.d/\#recentf\#
emacs/.emacs.d/eshell
emacs/.emacs.d/lisp/elfeed-fees.el
*.o
*~
'\#*'
qutebrowser/.config/qutebrowser/bookmarks/*
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/dracula
qutebrowser/.config/qsettings
qutebrowser/.config/qutebrowser/qsettings/*
nnn/.config/nnn/plugins
mpd/.config/mpd/database
vim/.vim/.netrwhist
nvim/.config/nvim/spell
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/plugins/packer_compiled.lua
mpv/.config/mpv/shaders
vifm/.config/vifm/vifminfo.json
vifm/.config/vifm/vifminfo.json*
vifm/.config/vifm/vifm-help.txt
qtile/.config/qtile/__pycache__
nvim/.config/nvim/plugin/packer_compiled.lua
