emacs/.emacs.d/*/
emacs/.emacs.d/recentf
emacs/.emacs.d/\#recentf\#
emacs/.emacs.d/eshell
emacs/.emacs.d/lisp/elfeed-fees.el
*.o
*~
'\#*'
qutebrowser/.config/qutebrowser/bookmarks/*
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/dracula
qutebrowser/.config/qsettings
nnn/.config/nnn/plugins
mpd/.config/mpd/database
vim/.vim/.netrwhist
nvim/.config/nvim/spell
mpv/.config/mpv/shaders 
