emacs/.emacs.d/*/
emacs/.emacs.d/recentf
*.o
*~
'\#*'
qutebrowser/.config/qutebrowser/bookmarks/*
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/dracula
nnn/.config/nnn/plugins
mpd/.config/mpd/database
